.input-section .card-header{
    color: white;
    background-color: #22577A;
}
.input-section .form-label{
    font-weight: bold;
    color: #4A403A;
    font-size: 14px;
    align-self: center;
}
.input-section .prefix-name{
    width: 20%;
}

.input-section .first-name,
.input-section .last-name{
    width: 40%;
}

textarea.wish-text{
    padding: 12px !important;
    min-height: 150px;
}