.card-select-section .card-header {
    color: white;
    background-color: #008E89;
    font-weight: bold;
    text-align: center;
}

.card-select-section .card-body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    max-height: 100vh;
    overflow: auto;
}

.card-select-section .card-body .card-container{
    width: 20vh;
    height: auto;
    margin: 10px;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}
.card-select-section .card-body img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.card-select-section .card-body div.selected{
    background-color: #EFD9D1;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
