:root{
    --title-color: #393E46;
}

.input-section .card-header{
    color: white;
    background-color: #215586;
    font-weight: bold;
    text-align: center;
}

.input-section .card-body{
    padding: 30px 20px;
}
.form-label{
    color: var(--title-color);
    font-weight: bold;
}
div.user-info-input .prefix{
    width: 20%;
}
div.user-info-input .fname,
div.user-info-input .lname{
    width: calc((100%-20%)/2);
}

.select-anniv-title{
    align-self: center;
    font-weight: bold;
    color: var(--title-color);
    width: 20%;
}
.select-anniv{
    width: 100%;
}

#textareaAnniv{
    min-height: 150px;
}
